@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen(lg) {
   .bg-tabs {
      width: 1800px;
      height: 300px;
      right: 68%;
      @apply absolute rounded-r-full top-[140px] bg-gradient-to-r from-[#ffffff] to-primary ;
   }
}